body {font-family: 'PTSans',Arial,sans-serif; font-size: 13px; color: #000000; font-weight: regular;line-height: 24px;}
.title h1 {font-family: 'Cuprum'; font-style: 30px; text-transform: uppercase;line-height: 30px;color: #32425c;}
